<footer>
  <div class="footer p-5">
  <div class="row container mx-auto text-center ">
  <div class="col-md-4">
    <h3 class="text-white">LOCATION</h3>
    <p class="text-white">2215 John Daniel Drive</p>
    <p class="text-white">Clark, MO 65243</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-white">AROUND THE WEB</h3>
    <div class="icons pt-2">
      <i class="fa-brands fa-facebook text-white mx-3 p-2 rounded-5"></i>
      <i class="fa-brands fa-twitter text-white p-2 rounded-5"></i>
      <i class="fa-brands fa-linkedin-in text-white p-2 rounded-5 mx-3"></i>
      <i class="fa-solid fa-globe text-white p-2 rounded-5"></i>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="text-white pb-2">ABOUT FREELANCER</h3>
    <p class="text-white">Freelance is a free to use, licensed Bootstrap theme created by Route    </p>
  </div>
</div>
</div>
<div class="text-center endFooter">
<p class=" text-white">Copyright © Your Website 2021</p>
</div>
</footer>